In [1]:
# import statements
import pandas as pd
import random

In [3]:
columnNames = ['Turn','DieRoll','PositionStart','PostionEnd']
ChutesLaddersDF = pd.DataFrame(columns=columnNames)

In [67]:
def SingleGameChutesAndLadders():
    
    masterList = []
    my_list = [1,0,0,1]
    i = 1

    ladderStart = [1,4,9,21,28,36,51,71,80]
    ladderEnd = [38,14,31,42,84,44,67,91,100]

    chuteStart = [16,47,49,56,62,64,93,95,98]
    chuteEnd = [6,26,11,53,19,60,73,75,78]


    while my_list[3]<100: 
        #turn counter
        my_list[0] = i

        #die roll
        die = random.randint(1,6)
        my_list[1] = die

        #PositionStart Update
        my_list[2] = my_list[3]

        #PostitionEnd Update

        if(die+my_list[3])>100: #Can't exceed 100 logic
            my_list[3]
        else:
            my_list[3] =+ die + my_list[3]

        #print(my_list)


    #For both chutes & Ladders
    #If position end, is on the start of a chute/ladder
    #-take its index
    #and reset PositionEnd to the associated chute/ladder end list

     #Chute List
        if(my_list[3] in chuteStart):
            #print("You Hit a Chute")
            #print("Your Number is:",my_list[3])
            my_list[3]=chuteEnd[chuteStart.index(my_list[3])]
            #print("Your new spot is",my_list[3])   
     #Ladder List
        if(my_list[3] in ladderStart):
            #print("You Hit a Ladder")
            #print("Your Number is:",my_list[3])
            my_list[3]=ladderEnd[ladderStart.index(my_list[3])]
            #print("Your new spot is",my_list[3])

        temp_list = my_list.copy() #needed to copy the list, because was having assignment issues
        masterList.append(temp_list)
        i=i+1
    ChutesLaddersDF = pd.DataFrame(masterList, columns=columnNames)
    return(ChutesLaddersDF)

In [68]:
df = SingleGameChutesAndLadders()

In [121]:
def MultipleGamesChutesAndLadders(NumGames):
    df_master = SingleGameChutesAndLadders()
    df_master['Game'] = 1
    for i in range(1,NumGames):
        df_temp = SingleGameChutesAndLadders()
        df_temp['Game'] = i + 1
        df_master = df_master.append(df_temp)
    df_master.reset_index(inplace = True)
    df_master.to_csv(str(NumGames)+"Chutes&LaddersGamesSimulated.csv")  
    return(df_master)

In [123]:
MultipleGamesChutesAndLadders(1000)

       index  Turn  DieRoll  PositionStart  PostionEnd  Game
0          0     1        1              1           2     1
1          1     2        2              2          14     1
2          2     3        3             14          17     1
3          3     4        4             17          42     1
4          4     5        5             42          26     1
...      ...   ...      ...            ...         ...   ...
32289     39    40        4             99          99  1000
32290     40    41        6             99          99  1000
32291     41    42        6             99          99  1000
32292     42    43        2             99          99  1000
32293     43    44        1             99         100  1000

[32294 rows x 6 columns]

In [105]:
df_master

    Turn  DieRoll  PositionStart  PostionEnd  Game
0      1        3              1          14     1
1      2        6             14          20     1
2      3        2             20          22     1
3      4        2             22          24     1
4      5        3             24          27     1
..   ...      ...            ...         ...   ...
19    20        1             81          82     3
20    21        6             82          88     3
21    22        1             88          89     3
22    23        5             89          94     3
23    24        6             94         100     3

[96 rows x 5 columns]

In [88]:
df1 = SingleGameChutesAndLadders()
df2 = SingleGameChutesAndLadders()

In [89]:
df1.head()

   Turn  DieRoll  PositionStart  PostionEnd
0     1        3              1          14
1     2        6             14          20
2     3        4             20          24
3     4        4             24          84
4     5        1             84          85

In [90]:
df2.head()

   Turn  DieRoll  PositionStart  PostionEnd
0     1        1              1           2
1     2        6              2           8
2     3        5              8          13
3     4        5             13          18
4     5        2             18          20

In [92]:
master = pd.concat([df1,df2])

In [94]:
master2 = df1.append(df2)

In [95]:
master2

    Turn  DieRoll  PositionStart  PostionEnd
0      1        3              1          14
1      2        6             14          20
2      3        4             20          24
3      4        4             24          84
4      5        1             84          85
5      6        2             85          87
6      7        4             87          91
7      8        1             91          92
8      9        6             92          78
9     10        5             78          83
10    11        5             83          88
11    12        6             88          94
12    13        5             94          99
13    14        5             99          99
14    15        5             99          99
15    16        6             99          99
16    17        1             99         100
0      1        1              1           2
1      2        6              2           8
2      3        5              8          13
3      4        5             13          18
4      5        2             18          20
5      6        6             20          26
6      7        1             26          27
7      8        2             27          29
8      9        4             29          33
9     10        3             33          44
10    11        4             44          48
11    12        3             48          67
12    13        5             67          72
13    14        2             72          74
14    15        4             74          78
15    16        1             78          79
16    17        5             79          84
17    18        4             84          88
18    19        1             88          89
19    20        4             89          73
20    21        1             73          74
21    22        3             74          77
22    23        4             77          81
23    24        5             81          86
24    25        4             86          90
25    26        6             90          96
26    27        1             96          97
27    28        1             97          78
28    29        6             78          84
29    30        4             84          88
30    31        6             88          94
31    32        3             94          97
32    33        3             97         100

In [93]:
master

    Turn  DieRoll  PositionStart  PostionEnd
0      1        3              1          14
1      2        6             14          20
2      3        4             20          24
3      4        4             24          84
4      5        1             84          85
5      6        2             85          87
6      7        4             87          91
7      8        1             91          92
8      9        6             92          78
9     10        5             78          83
10    11        5             83          88
11    12        6             88          94
12    13        5             94          99
13    14        5             99          99
14    15        5             99          99
15    16        6             99          99
16    17        1             99         100
0      1        1              1           2
1      2        6              2           8
2      3        5              8          13
3      4        5             13          18
4      5        2             18          20
5      6        6             20          26
6      7        1             26          27
7      8        2             27          29
8      9        4             29          33
9     10        3             33          44
10    11        4             44          48
11    12        3             48          67
12    13        5             67          72
13    14        2             72          74
14    15        4             74          78
15    16        1             78          79
16    17        5             79          84
17    18        4             84          88
18    19        1             88          89
19    20        4             89          73
20    21        1             73          74
21    22        3             74          77
22    23        4             77          81
23    24        5             81          86
24    25        4             86          90
25    26        6             90          96
26    27        1             96          97
27    28        1             97          78
28    29        6             78          84
29    30        4             84          88
30    31        6             88          94
31    32        3             94          97
32    33        3             97         100

In [66]:
ChutesLaddersDF

    Turn  DieRoll  PositionStart  PostionEnd
0      1        2              1           3
1      2        1              3          14
2      3        6             14          20
3      4        4             20          24
4      5        3             24          27
5      6        5             27          32
6      7        6             32          38
7      8        5             38          43
8      9        3             43          46
9     10        1             46          26
10    11        5             26          31
11    12        1             31          32
12    13        3             32          35
13    14        2             35          37
14    15        3             37          40
15    16        2             40          42
16    17        1             42          43
17    18        6             43          11
18    19        4             11          15
19    20        6             15          42
20    21        2             42          44
21    22        6             44          50
22    23        1             50          67
23    24        2             67          69
24    25        5             69          74
25    26        6             74         100